*.gitattributes text eol=lf encoding=utf-8
*.ts text eol=lf encoding=utf-8
*.js text eol=lf encoding=utf-8
*.qin text eol=lf encoding=utf-8
*.ovs text eol=lf encoding=utf-8
*.cssts text eol=lf encoding=utf-8
*.java text eol=lf encoding=utf-8
*.md text eol=lf encoding=utf-8
*.kts text eol=lf encoding=utf-8
