# dependencies (bun install)
node_modules

# output
out
dist
*.tgz
.qin
lib
libs
.gradle

# code coverage
coverage
*.lcov
build
classes

# logs
logs
*.log
hs_err_pid*.log
replay_pid*.log
tmp-*.json
.tmp*
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
